@using BankSystem.Models;
@model List<ApplicationUser>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FindUsers</title>
</head>
<body>
    <div align="left">
        @using (Html.BeginForm("FindUsers", "Account"))
        {
            <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Искать" name="s" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">Искать<i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
    <div> 
        @foreach (ApplicationUser user in Model)
        {
            <br>
            <div class="thumbnail">
                <div class="col">
                    <dl class="dl-horizontal">
                        <dd>
                            <h3>  @Html.ActionLink(user.Id, "UserPage", "Account", new { id = user.Id }, null)  </h3>
                        </dd>
                        <dd>
                            @user.Email
                        </dd>
                        <dd>
                            @user.surname
                        </dd>
                        <dd>
                            @user.name
                        </dd>
                        <dd>
                            @user.patronymic
                        </dd>
                        
                    </dl>
                </div>
            </div>
        }
    </div>
</body>
</html>
