@using Microsoft.AspNet.Identity
@using BankSystem.Models.DbModels;
@model BankSystem.Models.ViewModels.ViewUser
@{
    ViewBag.Title = "Страница пользователя";
}
<div align="center"><h2>@ViewBag.Title.</h2></div>
<style>
    .col {
        width: 700px; /* Ширина блока */
        padding: 10px; /* Поля */
        word-wrap: break-word;
    }
</style>
<style>
    hr {
        border: none;
        background-color: gray;
        height: 1px;
    }
</style>
<div class="row">
    <hr>
    <div class="col-sm-8">
        @if (Model.picture.Image != null)
            {
            <td>
                @Html.Raw(Model.picture.HtmlRaw
                        + Convert.ToBase64String(Model.picture.Image) + "\" />")
            </td>
        }
        <br>
        @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <input type="hidden" name="modelId" value=@Model.id />
            @Html.ValidationSummary(true)
            <fieldset>
                @if (Model.isUser)
                {
                    <div class="editor-field">
                        <input type="file" name="uploadImage" class="btn btn-default" />
                    </div>

                            <p>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Добавить" class="btn btn-success" />
                                    </div>
                                </div>
                            </p>
                }
            </fieldset>
        }
        @using (Html.BeginForm("Delete", "Account"))
            {
                if ((Model.isUser) || (Repository.FindUserById(User.Identity.GetUserId()).isAdmin))
                {
                <div class="form-group">
                    <input type="hidden" name="id" value=@Model.id />
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Удалить" class="btn btn-danger" />
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-sm-4">
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Личные данные</h4>
            <dl class="dl-horizontal">
                @if (Model.isUser)
            {
                    <dt>Пароль:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Изменить пароль", "ChangePassword", "Manage")
                        }
                        else
                        {
                            @Html.ActionLink("Создать пароль", "SetPassword", "Manage")
                        }
                        ]
                    </dd>
                }
                <dt>Фамилия:</dt>
                <dd>
                    @Model.surname
                </dd>
                <dt>Имя:</dt>
                <dd>
                    @Model.name
                </dd>
                <dt>Отчество:</dt>
                <dd>
                    @Model.patronymic
                </dd>
                <dt>Номер телефона:</dt>
                <dd>
                    @Model.phone
                </dd>
                <dt>Адрес:</dt>
                <dd>
                    @Model.adress
                </dd>
            </dl>
            @if ((Model.isUser) || (Repository.FindUserById(User.Identity.GetUserId()).isAdmin))
            {
                using (Html.BeginForm("ChangeData", "Account", FormMethod.Get))
                {
                    <input type="hidden" name="modelId" value=@Model.id />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="ButtonChange" type="submit" class="btn btn-default" value="Изменить данные" />
                        </div>
                    </div>
                }
            }
            <br>
            <br>
            <br>
        </div>
    </div>
</div>

@if (User.Identity.GetUserId() == Model.id)
{
    using (Html.BeginForm("transact", "Account",FormMethod.Get))
    {
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="ButtonChange" type="submit" class="btn btn-default" value="Перевести деньги" />
        </div>
    </div>
        }
    }
@if ((Repository.FindUserById(User.Identity.GetUserId()).isAdmin)&&(User.Identity.GetUserId() != Model.id))
{
    string text;
    if (Model.isAdmin)
    {
        text = "Снять админку";
    }
    else
    {
        text = "Дать админку";
    }
    using (Html.BeginForm("ChangeAdmin", "Account",FormMethod.Post))
    {
    <div class="form-group">
        <input type="hidden" name="userId" value=@Model.id />
        <div class="col-md-offset-2 col-md-10">
            <input id="ButtonChange" type="submit" class="btn btn-default" value="@text"  />
        </div>
    </div>
    }
}

@if (Model.id == User.Identity.GetUserId())
{
    using (Html.BeginForm("CreateNewCard", "Account", FormMethod.Get))
    {
        <div class="form-group">
            <input type="hidden" name="userId" value=@Model.id />
            <div class="col-md-offset-2 col-md-10">
                <input id="ButtonChange" type="submit" class="btn btn-default" value="Создать новую карточку" />
            </div>
        </div>
    }
}
@if ((Repository.FindUserById(User.Identity.GetUserId()).isAdmin) && (User.Identity.GetUserId() != Model.id))
{
    using (Html.BeginForm("OpenCredit", "Account", FormMethod.Get))
    {
    <div class="form-group">
        <input type="hidden" name="userId" value=@Model.id />
        <div class="col-md-offset-2 col-md-10">
            <input id="ButtonChange" type="submit" class="btn btn-default" value="Открыть кредит" />
        </div>
    </div>
    }
}
Карточки пользователя
@foreach (Card card in Repository.GetCardsOfUser(Model.id))
{ <br>
    <div class="thumbnail">
        <div class="col">
            <dl class="dl-horizontal">
                <dt>Номер карточки:</dt>
                <dd>
                    @card.id
                </dd>
                <dt>Номер счёта:</dt>
                <dd>
                    @card.AccountId
                </dd>
                <dt>Колличество денег:</dt>
                @if (@Repository.GetAccountById(card.AccountId).isCredit)
                {
                <dd>
                    @Repository.GetAccountById(card.AccountId).money
                </dd>
                }
                else
                {
                    <dd>
                        @Repository.GetAccountById(card.AccountId).money
                    </dd>
                }
                @if ((Repository.FindUserById(User.Identity.GetUserId()).isAdmin) && (User.Identity.GetUserId() != Model.id))
                {
                    using (Html.BeginForm("AddMoney", "Account"))
                    {
                        <input type="hidden" name="userId" value=@Model.id />
                        <input type="hidden" name="id" value=@card.id />
                        <input id="Text1" type="text" name="add"/>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="ButtonChange" type="submit" class="btn btn-default" value="Зачислить" />
                            </div>
                        </div>
                    }
                    using (Html.BeginForm("RemoveMoney", "Account"))
                    {
                        <input type="hidden" name="userId" value=@Model.id />
                        <input type="hidden" name="id" value=@card.id />
                        <input id="Text1" type="text" name="rem" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="ButtonChange" type="submit" class="btn btn-default" value="Снять" />
                            </div>
                        </div>
                    }

                }

                @using (Html.BeginForm("RemoveCard", "Account"))
                {
                <input type="hidden" name="userId" value=@Model.id />
                <input type="hidden" name="id" value=@card.id />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="ButtonChange" type="submit" class="btn btn-default" value="Удалить карточку" />
                    </div>
                </div>
                }

            </dl>
        </div>
    </div>
}
----------------------------------------------------------------------------------
Счета
@foreach (BankAccount acc in Repository.GetAccsOfUser(Model.id))
{ <br>
    <div class="thumbnail">
        <div class="col">
            <dl class="dl-horizontal">
                <dt>Номер счёта:</dt>
                <dd>
                    @acc.id
                </dd>
                <dt>Колличество денег:</dt>
                @if (acc.isCredit)
                {
                <dd>
                   @acc.money
                </dd>
                }
                else
                {
                    <dd>
                        @acc.money
                    </dd>
                }
                <dt>Годовой процент:</dt>
                <dd>
                    @acc.percent
                </dd>
                <dt>Последнее изменение:</dt>
                <dd>
                    @acc.LastChanging
                </dd>
                @if ((Repository.FindUserById(User.Identity.GetUserId()).isAdmin) && (User.Identity.GetUserId() != Model.id))
                {
                    using (Html.BeginForm("ChangePercent", "Account"))
                    {
                        <input type="hidden" name="userId" value=@Model.id />
                        <input type="hidden" name="id" value=@acc.id />
                        <input id="Text1" type="text" name="per" />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="ButtonChange" type="submit" class="btn btn-default" value="Поменять процент" />
                            </div>
                        </div>
                    }
                }
                @if ((acc.isNone)&&(acc.money == 0))
                {
                    using (Html.BeginForm("RemoveBAcc", "Account"))
                    {
                        <input type="hidden" name="userId" value=@Model.id />
                        <input type="hidden" name="id" value=@acc.id />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="ButtonChange" type="submit" class="btn btn-default" value="Удалить счёт" />
                            </div>
                        </div>
                    }
                }
                

            </dl>
        </div>
    </div>
}
<hr>